<div class="lector-box center">
	<a href="{$basePath}/lektori/jakub-englicky/">
		<img src="{$basePath}/img/lectores/jakub-englicky.jpg?v={$assetsVersion}">
		<br>
		<div class="lector-name">
			<span class="bold">Jakub Englický</span>
		</div>
		<div class="tags">
			<span class="tag">Docker</span>
			<span class="tag">Git</span>
		</div>
	</a>
</div>