<div class="lector-box center">
	<img class="lector-image" src="{$basePath}/img/lectores/jakub-englicky.jpg">
	<br>
	<div class="lector-name">
		<span class="bold">Jakub Englický</span>
	</div>
	<div class="tags">
		<span class="tag">Docker</span>
	</div>
</div>