<div class="lector-box center">
	<a href="{$basePath}/lektori/jiri-pudil/">
		<img src="{$basePath}/img/lectores/jiri-pudil.jpg?v={$assetsVersion}">
		<br>
		<div class="lector-name">
			<span class="bold">Jiří Pudil</span>
		</div>
		<div class="tags">
			<span class="tag">JavaScript</span>
			<span class="tag">TypeScript</span>
			<span class="tag">Webpack</span>
			<span class="tag">React</span>
		</div>
	</a>

</div>