<div class="lector-box center">
	<a href="{$basePath}/lektori/svata-simara/">
		<img src="{$basePath}/img/lectores/svata-simara.jpg?v={$assetsVersion}">
		<br>
		<div class="lector-name">
			<span class="bold">Svaťa Šimara</span>
		</div>
		<div class="tags">
			<span class="tag">Domain-Driven Design</span>
		</div>
	</a>
</div>