<div class="lector-box center">
	<a href="{$basePath}/lektori/vaclav-cevela/">
		<img src="{$basePath}/img/lectores/vaclav-cevela.jpg">
		<br>
		<div class="lector-name">
			<span class="bold">Václav Čevela</span>
		</div>
		<div class="tags">
			<span class="tag">Elasticsearch</span>
			<span class="tag">OOP</span>
		</div>
	</a>

</div>