<html>
<head>
	<meta charset="UTF-8">
	<title>Školení nás baví</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/style.css">
	<link rel="icon" href="{$basePath}/img/favicon.png">
</head>
<body>
<div class="container-fluid">
	<div class="container">
		<div class="row">

			<div class="col-md-4">
				<a href="{$basePath}"><h1 class="web-title">ŠKOLENÍ NÁS BAVÍ</h1></a>
			</div>

			<div class="col-md-8">
				<ul class="menu nav">
					<li class="nav-item">
						<a class="nav-link" href="{$basePath}/skoleni">VEŘEJNÁ ŠKOLENÍ</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{$basePath}/lektori">LEKTOŘI</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{$basePath}/kontakt">KONTAKT</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{include content}

<div class="container-fluid footer-box">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<div class="footer-contact">
					<span class="footer-contact-title">Kontakt</span>
					<table>
						<tr>
							<td>
								Jakub Englický
							</td>
						</tr>
						<tr>
							<td>
								E-Mail: <a href="mailto:info@skoleninasbavi.cz" class="white-link">info@skoleninasbavi.cz</a>
							</td>
						</tr>
						<tr>
							<td>
								Tel.: <a href="tel:+420733348366" class="white-link">+420 733 348 366</a>
							</td>
						</tr>
						<tr>
							<td>
								IČO: 04689631
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="col-md-2">
				<div class="social-icons">
					<!--						<i class="fab fa-facebook-f"></i>-->
					<!--						<i class="fab fa-twitter"></i>-->
				</div>
			</div>
		</div>
		<hr style="color: white;">
		<span class="copyright">&copy; 2019 - Školení nás baví</span>
	</div>
</div>

<script src="https://kit.fontawesome.com/132773d81b.js" crossorigin="anonymous"></script>
</body>
</html>