<div class="col-4 training-box">
    <a href="{$basePath}/webinare/objektove-orientovane-programovani">
        <img src="https://via.placeholder.com/300x170">
        <span class="training-box-text">Objektově orientované programování</span>
        <span class="training-box-rating">***</span>
        <span class="training-box-date">11. 2020</span>
        <span class="training-box-price">Cena: 200 Kč</span>
    </a>
</div>