.bold {
    font-weight: bold;
}
.content-box {
	background-color: #FBFDFF;
	min-height: 995px;
	border-top: 1px solid silver;
}

hr {
	background-color: silver;
}

h1 {
	font-size: 34px;
}

a:hover {
	text-decoration: none;
}

.copyright {
	color: silver;
}

.claim-box {
	text-align: center;
}

.claim-box img {
	width: 100%;
}

.contact table{
	width: 300px;
}

.footer-box {
	background-color: rgb(50,50,50);
	min-height: 280px;
	padding-top: 30px;
}

.footer-contact-title {
	color: white;
	font-size: 24px;
	font-weight: bold;
}

.footer-contact table{
	color: white;
	margin-top: 15px;
	min-height: 120px;
}

#header {
    display: flex;
	width: 100%;
}

.social-icons {
	color: white;
	font-size: 32px;
}

.social-icons a {
	margin-left: 10px;
}

#menu {
	margin-top: 15px;
	margin-bottom: 15px;
}

#menu li {
	padding-left: 35px;
}

#menu li a {
	color: grey;
	font-weight: bold;
}

#menu li a:hover {
	color: black;
}

#web-title {
    flex: 10;
	font-size: 26px;
	font-weight: bold;
	color: mediumseagreen;
	position: relative;
}

#web-title a {
	color: mediumseagreen;
	text-decoration: none;
}

#web-title a:hover {
	color: mediumseagreen;
	text-decoration: none;
}

#web-title img {
	width: 200px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.training-box {
	background-color: white;
	padding: 10px;
	box-shadow: 5px 10px 18px silver;
	min-height: 100px;
	margin-bottom: 20px;
}

.training-box a {
	color: black;
}


.training-box-date {
	font-size: 18px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 40px;
	border-right:1px solid grey;
}

.training-box-text {
	font-size: 18px;
	margin-top: 13px;
}

.training-box-text a, a:hover {
	color: black;
	cursor: pointer;
}

.training-box-text-skill {
	color: grey;
	font-size: 14px;
}

.training-box-arrow {
	font-size: 40px;
	margin-top: 20px;
	padding-right: 50px;
	text-align: right;
}

.training-box-arrow i {
	color: black;
}

.training-box-arrow i:hover {
	color: mediumseagreen;
}

.header {
	padding-bottom: 15px;
	border-bottom: 1px solid silver;
}

.lector-box {
	background-color: white;
	padding: 10px;
	box-shadow: 5px 10px 18px silver;
	min-height: 430px;
	margin-bottom: 40px;
	width: 350px;
}

.lector-box a, a:hover {
	color: black;
}

.lector-box img {
	max-width: 325px;
}

.lector-name {
	font-size: 21px;
	margin-top: 20px;
}

.lector-image img {
	/*
	max-width: 325px;*/
	width: 100%;
}
.tags {
	margin-top: 10px;
}

.tag {
	font-size: 12px;
	border: 1px solid dodgerblue;
	background-color: dodgerblue;
	padding: 5px;
	border-radius: 5px;
	color: white;
}

.link {
	color: dodgerblue;
}

.link:hover {
	color: black;
}

.p-title {
	padding-top: 30px;
}

.paragraph {
	text-align: justify;
}

.info {
	margin-top: 30px;
	margin-bottom: 40px;
}

.info-key {
	color: silver;
	font-size: 21px;
}

.info-value {
	font-size: 24px;
}

.info-row {
	padding: 10px;
}

.buy-box {
	min-height: 120px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: bold;
	padding: 25px;
}


.buy-box-l {
	background-color: mediumseagreen;
}

.buy-box-l:hover {
	background-color: seagreen;
}

.buy-box-r {
	background-color: whitesmoke;
}

.buy-box-r:hover {
	background-color: silver;
}

.white-link {
	color: white;
}

.white-link:hover {
	color: white;
}

.black-link {
	color: black;
}

.white-link:hover {
	color: black;
}

.next-text {
	font-size: 21px;
	text-align: center;
}

.navbar-toggler {
	margin-top: 10px;
}

.social-icons-lector i {
	padding-right: 15px;
	color: black;
}

.social-icons-lector i:hover {
	color: dodgerblue ;
}

.strike {
	text-decoration: line-through;
	color: brown;
}

.sale {
	font-weight: normal;
	font-size: 14px;
}

.message {
	position: relative;
	background: #ffffff;
	border: 2px solid grey;
	padding: 15px;
}
.message:after, .message:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.message:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}
.message:before {
	border-color: rgba(245, 245, 245, 0);
	border-top-color: grey;
	border-width: 18px;
	margin-left: -18px;
}

#hamburger {
	font-size: 18px;
	margin-top: 0px;
}

.about-lector,
.training-detail {
	display: flex;
}

.lector-image,
.training-detail-info {
	flex: 4;
}

.lector-image {
	margin-right: 20px;
}

.lector-text,
.training-detail-content {
	flex: 8;
}

.lector-text p {
	text-align: justify;
}

.training-detail-info {
	margin-left: 20px;
}

@media (max-width: 1199px) {
	.training-detail {
		display: inline;
	}
	.training-detail-info {
		display: flex;
		margin-top: 20px;
	}
	.info,
	.training-detail-lector {
		flex: 1;
	}
}

@media (max-width: 991px) {
	.lector-image,
	.lector-text {
		flex: 1;
	}
}

@media (max-width: 767px) {
	.about-lector {
		display: inline;
	}
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 25px;
	}
	.lector-image{
		margin-right: 0px;
		text-align: center;
	}
	.training-detail-info {
		display: inline;
	}
	#web-title img {
		width: 160px;
		margin-left: 5px;
	}
}

@media (max-width: 419px) {
	.lector-box {
		max-width: 300px;
		min-height: auto;
	}
	.lector-box img {
		width: 95%;
	}
}

@media (max-width: 374px) {
	.lector-box {
		max-width: 250px;
	}
}