.bold {
    font-weight: bold;
}

.content-box {
    background-color: #FBFDFF;
    min-height: 995px;
    border-top: 1px solid silver;
}

hr {
    background-color: silver;
}

h1 {
    font-size: 34px;
}

a:hover {
    text-decoration: none;
}

.copyright {
    color: silver;
}

.claim-box {
    background: url("../img/bg_hp.png");
    min-height: 550px;
    text-align: center;
}

.contact table{
    width: 300px;
}

.footer-box {
    background-color: rgb(50,50,50);
    min-height: 280px;
    padding-top: 30px;
}

.footer-contact-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.footer-contact table{
    color: white;
    margin-top: 15px;
    min-height: 120px;
}

.social-icons {
    color: white;
    font-size: 32px;
}

.menu {
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu li {
    padding-right: 25px;
}

.menu li a {
    color: silver;
    font-weight: bold;
}

.menu li a:hover {
    color: grey;
}

.web-title {
    margin-top: 15px;
    font-size: 26px;
    font-weight: bold;
    color: mediumseagreen;
}

.web-title a {
    color: mediumseagreen;
    text-decoration: none;
}

.web-title a:hover {
    color: mediumseagreen;
    text-decoration: none;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.training-box {
    background-color: white;
    padding: 10px;
    box-shadow: 5px 10px 18px silver;
    min-height: 100px;
    margin-bottom: 20px;
}

.training-box-date {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 40px;
    border-right:1px solid grey;
}

.training-box-text {
    font-size: 18px;
    margin-top: 13px;
}

.training-box-text a, a:hover {
    color: black;
    cursor: pointer;
}

.training-box-text-skill {
    color: grey;
    font-size: 14px;
}

.training-box-arrow {
    font-size: 40px;
    margin-top: 20px;
    padding-right: 50px;
    text-align: right;
}

.training-box-arrow i {
    color: black;
}

.training-box-arrow i:hover {
    color: mediumseagreen;
}

.header {
    padding-bottom: 15px;
    border-bottom: 1px solid silver;
}

.lector-box {
    background-color: white;
    padding: 10px;
    box-shadow: 5px 10px 18px silver;
    min-height: 430px;
    margin-bottom: 40px;
    width: 350px;
}

.lector-box a, a:hover {
    color: black;
}

.lector-box img {
    min-height: 325px;
}

.lector-name {
    font-size: 21px;
    margin-top: 20px;
}

.lector-image {
    max-width: 325px;
}
.tags {
    margin-top: 10px;
}

.tag {
    font-size: 12px;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.link {
    color: dodgerblue;
}

.link:hover {
    color: black;
}

.p-title {
    padding-top: 30px;
}

.paragraph {
    text-align: justify;
}

.info {
    margin-top: 30px;
    margin-bottom: 40px;
}

.info-key {
    color: silver;
    font-size: 21px;
}

.info-value {
    font-size: 24px;
}

.info-row {
    padding: 10px;
}

.buy-box {
    width: 350px;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    padding: 25px;
}


.buy-box-l {
    background-color: mediumseagreen;
}

.buy-box-l:hover {
    background-color: seagreen;
}

.buy-box-r {
    background-color: whitesmoke;
}

.buy-box-r:hover {
    background-color: silver;
}

.white-link {
    color: white;
}

.white-link:hover {
    color: white;
}

.black-link {
    color: black;
}

.white-link:hover {
    color: black;
}

.next-text {
    font-size: 21px;
    text-align: center;
}

.navbar-toggler {
    margin-top: 10px;
}

.social-icons-lector i {
    padding-right: 15px;
    color: black;
}

.social-icons-lector i:hover {
    color: dodgerblue ;
}

.strike {
    text-decoration: line-through;
    color: brown;
}

.sale {
    font-weight: normal;
    font-size: 14px;
}
