---
layout: "_layouts/default.twig"
title: "Lektoři"
---

{block content}
<div class="container-fluid content-box">
	<div class="container">
		<br>
		<h2>Lektoři:</h2>
		<br>
		<div class="row">
			<div class="col">
				{include "_snippets/lectores/vaclav-cevela.latte"}
			</div>
			<div class="col">
                {include "_snippets/lectores/jakub-englicky.latte"}
			</div>

		</div>
	</div>
</div>
{/block}