---
layout: "_layouts/default.twig"
title: "Livestream"
---

{block content}
<div class="container-fluid content-box">
	<div class="container">
		<br>
		{include "_snippets/livestream.latte"}
		<br>
		<h2>Předchozí livestreamy:</h2>
		<hr>
		{include "_snippets/livestreams/github.latte"}
	</div>
</div>
{/block}
